<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="z.talent.tengyu.mapper.JournalMapper">


	<select id="getJournalByUuid" resultType="z.talent.tengyu.bean.Journal">
	    SELECT
	          journalcontent,
	          time,
	          uuid,
	          pic1,
	          pic2,
	          pic3
	    FROM journal
	    WHERE uuid = #{uuid}
  	</select>

	<select id="DeleteJournalByUuid">
	    DELETE 
	    FROM journal
	    WHERE uuid = #{uuid}
  	</select>


	  <select id="getJournals" resultType="z.talent.tengyu.bean.Journal">
	    SELECT
	      journalcontent,
	          time,
	          uuid,
	          pic1,
	          pic2,
	          pic3
	    FROM journal order by time  desc limit #{limit} offset #{offset} 
	  </select>
	
	 <select id="getJournalCounts" resultType="int">
	    SELECT
	      count(*)
	    FROM journal 
	  </select>
	
	
	  <insert id="insertJournal" parameterType="z.talent.tengyu.bean.Journal">
	    INSERT INTO journal
	      (journalcontent,
	          time,
	          uuid,
	          pic1,
	          pic2,
	          pic3)
	    VALUES
	      (#{journalcontent}, #{time}, #{uuid}, #{pic1}, #{pic2},  #{pic3})
	  </insert>
	

	
</mapper>  